[submodule "turbin3-prereq-ts"]
	path = turbin3-prereq-ts
	url = https://github.com/d1cetheroller/turbin3-prereq-ts.git
[submodule "turbin3-prereq-rs"]
	path = turbin3-prereq-rs
	url = https://github.com/d1cetheroller/turbin3-prereq-rs.git
[submodule "turbin3-solana-starter"]
	path = turbin3-solana-starter
	url = https://github.com/d1cetheroller/turbin3-solana-starter.git
[submodule "vault-anchor"]
	path = vault-anchor
	url = https://github.com/d1cetheroller/vault-anchor.git
[submodule "turbin3-escrow-program"]
	path = turbin3-escrow-program
	url = https://github.com/d1cetheroller/turbin3-escrow-program.git
